﻿@model ContosoUniversityMVC4.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            HireDate
        </th>
        <th>
            Location
        </th>
        <th>
            Courses
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Instructors)
{
    string selectedRow = "";
    if (item.PersonID == ViewBag.PersonID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">

        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @if (item.OfficeAssignment != null)
                {
                @item.OfficeAssignment.Location
            }
        </td>
        <td>
            @{
                foreach (var course in item.Courses)
                {
                    @course.CourseID @:  @course.Title <br />
                }
            }
        </td>

        <td>
            @Html.ActionLink("Select", "Index", new { id = item.PersonID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonID })
        </td>
    </tr>
}

</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table table-responsive table-striped">
        <tr>
            
            <th>ID</th>
            <th>Title</th>
            <th>Department</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "selectedrow";
            }
            <tr class="@selectedRow">
                
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
        <table class="table table-responsive table-striped">
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @item.Student.FullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </table>
}